/* Image zoom on hover + Overlay colour */

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
body {
    margin: 0;
    font-family: Inter;
}

#body {
    height: 100vh;
    background-image: linear-gradient(to bottom, #1C1C1C 0px, #1C1C1C 20%, #1C1C1C 20%, #1C1C1C 30%, #000000 100%);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

:root {
    /* Full grid area variable */
    --fullGrid: 1 / 1 / -1 / -1;
}

.app-elcubo {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header-top {
    width: 100%;
}

.logo-elcubo {
    margin: auto;
    z-index: 11;
}

.logo--image {
    width: 60px;
    height: auto;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 11;
}

.characters .parent {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    float: left;
    display: flex;
}

.characters .child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}

/* Page characters */

.characters-wrapper {
    height: 70vh;
    margin-top: 18vh;
    transition: all 1s ease;
}

.is-viewed .characters-wrapper {
    margin-top: 2vh;
}

.characters-wrapper .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.characters-wrapper .row.row-cero {
    width: 1024px;
    margin: auto;
    color: #636363;
    letter-spacing: -0.8px;
    font-size: 18px;
    margin-bottom: 20px;
}

.is-viewed .row.row-cero {
    opacity: 0;
}

.characters-wrapper .row.row-first {
    height: 443px;
    width: 1024px;
    margin: auto;
}

.columns-2 .row.row-cero,
.columns-2 .row.row-first {
    width: 682px;
}

/* 1 video reflexivo */

.columns-1 .row.row-cero,
.columns-1 .row.row-first {
    width: 30%;
    z-index: 2;
    position: relative;
}

/*
.columns-1 .parent .child .img-bn,
.columns-1 .parent .child .img-color {
    width: 80% !important;
    top: 50% !important;
   
    left: 50%;
    
    transform: translate(-50%, -50%);
}*/

.columns-1.is-viewed .characters-wrapper {
    margin-top: 12vh;
}

.row.row-first .parent {
    height: 463px;
}

.characters-wrapper .row.row-second {
    height: 30vh;
}

.characters .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 33.33%;
    justify-content: bottom;
}

.characters .parent .child {
    /*background-color: black;*/
    cursor: pointer;
}

.characters .parent .child img.img-bn {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 0;
}

.characters .parent .child.selected img.img-bn,
.characters .parent:hover .child.selected img.img-bn {
    z-index: 1;
}

.characters .parent .child.selected img.img-color,
.characters .parent:hover .child.selected img.img-color {
    z-index: 0;
}

.characters .parent .child img.img-color {
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 1;
}

.characters .parent:hover .child img.img-color,
.characters .parent:focus .child img.img-color {
    z-index: 1;
}

.characters .icon-selected {
    display: none;
    width: 30px;
    height: auto;
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 45%;
}

.characters .selected .icon-selected {
    display: block;
}

.characters .parent:hover .child.selected .icon-selected {
    display: none;
}

.characters .name {
    display: none;
    font-size: 22px;
    font-family: 'Inter';
    font-weight: 200;
    color: white;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    top: 22vh;
    right: 0;
    text-decoration: none;
    z-index: 2;
}

.characters .is-selected .name {
    display: block;
    color: white;
}

.icon-cover img {
    width: 70px;
}

.characters .parent .child .icon-replay,
.characters .parent:hover .child.selected .icon-play {
    display: none;
}

.characters .parent:hover .child.selected .icon-replay {
    display: block;
}

.characters .projectButton {
    display: none;
    font-family: 'Inter';
    font-size: 13px;
    color: #45B4C1;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 300px;
    cursor: pointer;
    border: 2px solid #45B4C1;
    padding: 5px;
    width: 130px;
    border-radius: 30px;
    text-decoration: none;
    z-index: 2;
}

.characters .parent:hover .child,
.characters .parent:focus .child {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.characters .parent .child.is-selected {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.characters .parent:hover a,
.characters .parent:focus a {
    display: block;
}

.characters .parent:hover .name,
.characters .parent:focus .playButton {
    display: block;
}

/* Pane Slide */

.pane {
    position: fixed;
    top: 0;
    z-index: 10;
    left: -150%;
    height: 100vh;
    width: 100%;
    background: black;
    -webkit-box-shadow: -58px 0px 66px 0px rgba(69, 180, 193, 0.1);
    -moz-box-shadow: -58px 0px 66px 0px rgba(69, 180, 193, 0.1);
    box-shadow: -58px 0px 66px 0px rgba(69, 180, 193, 0.1);
    transition: 0.5s all ease;
    overflow: hidden;
}

.pane-cover {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    /*background: black;*/
    opacity: 0.3;
    z-index: 20;
}

.pane-cover.visible {
    display: flex;
}

.pane a.close {
    cursor: pointer;
    padding: 20px;
    float: right;
    position: absolute;
    right: 0;
    z-index: 100;
}

.bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
}

.pane-content a:hover {
    cursor: pointer;
}

.pane p {
    font-size: 16px;
    line-height: 1.4;
    padding: 20px 30px 40px 30px;
    margin: 0;
}

.pane.open {
    left: 0vw;
    z-index: 100;
}

/* hide menu */

.fake-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    display: none;
}

.fake-cover.visible {
    display: flex;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.6);
}

.columns-1 .fake-cover {
    display: flex;
    z-index: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    position: absolute;
    top: 0;
}

.characters .selector-mode {
    width: 100%;
    position: absolute;
    bottom: 40px;
    z-index: 90;
    transition: 2s all ease;
    opacity: 1;
}

.characters .selector-mode.is-hidden {
    display: block;
    opacity: 0;
}

.characters .selector-cover {
    width: 380px;
    margin: auto;
}

.characters .selector-cover img,
.characters .selector-cover ul {
    float: left;
}

.characters .selector-cover ul {
    opacity: 0;
    color: #45B4C1;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    list-style-type: none;
    transition: 0.5s all ease;
}

.characters .selector-cover:hover ul {
    opacity: 1;
}

.characters .selector-cover ul li {
    line-height: 1.3em;
    margin-bottom: 10px;
}

.characters .selector-cover ul li a {
    color: #45B4C1;
    text-decoration: none;
}

.characters .selector-cover ul li:hover,
.characters .selector-cover ul li:hover a {
    color: white;
}

.characters .selector-cover ul li:nth-child(1) img {
    margin-top: 7px;
    margin-right: 10px;
}

.characters .selector-cover ul li:nth-child(2) img {
    margin-top: 3px;
    margin-right: 10px;
}

.characters .selector-cover ul li:nth-child(3) img {
    margin-top: 3px;
    margin-right: 10px;
    margin-left: 8px;
}

.characters .selector-cover img {
    margin-left: 0px;
    margin-top: 20px;
}

.characters .selector-mode.selector-mobile {
    display: none;
}

.selector .copy-cover {
    margin-top: 0;
}

/* Onboard */

.hero-onboarding .copy .cover-link.close-modal {
    width: 226px;
}

.pane-video {
    font-family: Inter;
}

.plyr__control--overlaid {
    background: rgb(69, 180, 193);
}

.pane-video,
.pane-video .plyr {
    height: 100vh;
}

.plyr video {
    object-fit: fill;
}

.plyr__video-wrapper {
    height: auto !important;
}

/* progress */

.center {
    text-align: center;
    display: block;
    margin: 40px 0 40px 0;
    margin-top: -62px;
    z-index: 1;
}

.center.progress-1,
.center.progress-2 {
    display: none;
}

.columns-1 .progress-bar {
    margin-top: 40px;
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 2px;
    background: gray;
    overflow: hidden;
    float: none;
}

.progress-bar {
    margin-top: 40px;
    display: block;
    width: 100%;
    margin-right: 1%;
    float: left;
    height: 2px;
    background: gray;
    overflow: hidden;
}

.progress-bar .progress {
    width: 0;
    background: #A6E276;
    height: 100%;
}

.row-second {
    opacity: 0;
    z-index: -100;
}

.row-second.visible {
    z-index: 1;
}

.row-second.visible {
    opacity: 1;
    animation: fadeInUp 2s ease-in-out 0s forwards;
    z-index: 1;
}

.row-second .cover-link {
    display: none;
}

/* New */

.grid-container {
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
}

.grid-container row {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    overflow: hidden;
}

.columns-1 .videos-options {
    width: 33%;
    margin: auto;
}

.videos-options .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: bottom;
}

/*
.videos-options .parent {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    display: flex;
}*/

.videos-options .name {
    font-size: 22px;
    font-family: 'Inter';
    font-weight: 200;
    color: white;
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    top: 22vh;
    right: 0;
    text-decoration: none;
    z-index: 2;
}

@media only screen and (max-width: 1024px) {
    .columns-1 .videos-options {
        width: 100%;
    }
}