/* Image zoom on hover + Overlay colour */

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
body {
    margin: 0;
    /* background: black;*/
    font-family: Inter;
    color: white;
}

:root {
    /* Full grid area variable */
    --fullGrid: 1 / 1 / -1 / -1;
}

.header-top {
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
}

.app-elcubo.recompensa {
    max-width: 75vw;
    margin: auto;
    margin-top: 30vh;
    position: relative;
    z-index: 1;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
    /* Opera */
}

@media screen and (min-width: 1600px) {
    .app-elcubo.recompensa {
        max-width: 60vw;
    }
}

.bg-recompensa {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

.title-recompensa {
    color: white;
    font-family: Inter;
    font-size: 2.3rem;
    letter-spacing: -1px;
    font-weight: 600;
    opacity: 1;
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    /* Firefox */
    -webkit-animation: fadein 1s;
    /* Safari and Chrome */
    -o-animation: fadein 1s;
}

.desc-recompensa {
    letter-spacing: -0.3px;
    font-size: 18px;
    line-height: 26px;
}

.recompensa ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
    margin-bottom: 40vh;
    margin-top: 80px;
}

.recompensa ul li div {
    width: 12.5%;
    float: left;
    text-align: center;
}

.recompensa ul li div:first-child {
    width: 24%;
    text-align: left;
}

.recompensa ul li p {
    color: white;
    margin-left: 15px;
}

.li-characters img {
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

.li-characters p {
    font-size: 20px;
    letter-spacing: -1px;
}

.li-characters h2 {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 30px;
}

.li-videos {
    float: left;
    width: 100%;
}

.li-videos div {
    padding-top: 10px;
    padding-bottom: 8px;
}

.li-videos.odd {
    background: rgba(60, 82, 92, .3);
}

.li-videos div:first-child span {
    margin-left: 15px;
}

/* Hover */

.li-videos div {
    position: relative;
}

.li-videos div:not(:first-child) {
    height: 22px;
    overflow: hidden;
}

.li-videos div:not(:first-child):hover {
    cursor: pointer;
}

.li-videos div:not(:first-child):hover span {
    opacity: 1;
    transform: translate(-50%, -100%);
}

.li-videos div:not(:first-child) span {
    position: absolute;
    width: 100%;
    color: #131B1E;
    text-align: center;
    left: 50%;
    top: 100%;
    opacity: 0;
    padding: .95em;
    background-color: #45B4C1;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    transform: translate(-50%, 1em);
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 1300px) {
    .app-elcubo.recompensa {
        max-width: 80vw;
    }
    .li-videos div:first-child span {
        font-size: 12px;
    }
}

@media screen and (max-width: 960px) {
    .li-characters img {
        border-radius: 50%;
    }
    .li-characters h2 {
        font-size: 13px;
    }
    .app-elcubo.recompensa {
        max-width: 90vw;
    }
    .recompensa ul li div:first-child {
        width: 100%;
        text-align: center;
    }
    .recompensa ul li p,
    .li-videos div:first-child span {
        margin-left: 0;
    }
    .recompensa ul li div:not(:first-child) {
        width: 16.66%;
    }
    .li-videos.odd {
        margin-bottom: 40px;
    }
}

/* Animation */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}